################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/AID/.vs/AID/v15
/src/AID/Release
/src/AID/Debug
/src/AID/AID/Release
/src/AID/AID/Debug
